@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import "tailwindcss";

body {
  background:#121212;
  color: white;
}
.great-vibes {
  font-family: "Great Vibes", cursive;
}
.oleo{
    font-family: "Oleo Script", system-ui;
}

.slider{
  animation: slide-menu 1s ease-in ;
}

.dashboardHoverAnimation:hover{
  /* border:2px solid darkviolet; */
  outline: 2px solid transparent;
  outline-offset: -2px;
  animation: dashboardHoverAnimation 2s ease-in-out;
}

@keyframes dashboardHoverAnimation {
  50%{
    outline-offset: 2px;
    outline-width: 4px;
    outline-color: rgba(128, 128, 128, 0.75);
  }
  100%{
    outline: 1px solid transparent;
    outline-offset: -2px;
    outline-width: 2px;
  }
}

@keyframes slide-menu {
  0%{
    width:0;
  }
  50%{
    width: 50%;
  }
  100%{
    width: 100%;
  }
}